body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: #065fd4;
  }

  .game-container {
    position: relative;
    margin: 0 auto;
    width: 800px;
  }

  #gameCanvas {
    border: 2px solid #065fd4;
    display: block;
    margin: 20px auto;
    background-color: #fff
  }

  #resetButton {
    padding: 10px 20px;
    background-color: #065fd4;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #resetButton:hover {
    background-color: #043d8c;
  }

  p {
    color: #555;
    font-size: 18px;
  }
